body{
    margin:1px;
    border:2px solid #000000;

}

.header {
    height:80px;
    background:#fff000;
    border:2px solid #000000;
    padding-left:5em

}
.content {
    background: #fff00;
        border:2px solid #000000;

}